body{
    margin: 0;
    padding: 0;
}
header{
    height:13%;
    width: 100%;
    background-color: rgb(116, 116, 116);
    border-radius: 20px;
    position: fixed;
    float: left;
    top:0;
}
header img{
    width: 80;
    height: 80;
    margin: 10;
    float: left;
}
header p{ 
    margin-top: 40;
    display: inline-block;
    font-family: Monospace;
    font-size: 20;
    font-weight: bold;
}
header span{
    color: orange;
    font-weight: bold;
}
.nav{
    width: 80%;
    height: 15%;
    margin-left: 400px;
    float: left;
    position: fixed;
    top: 0;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 10;
    position: absolute;
}
ul li{
    float: left;
    margin: 20px;
}
ul li a{
    width: 150px;
    color:red;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    background-color: yellow;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
a:hover{
    background-color: #669900;
}
ul li ul{
    background-color: #000033;
    margin-top: 0;
}
ul li ul li{
    float: none;
}
ul li ul{
    display: none;
}
ul li:hover ul{
    display:block;
}
.section1{
    margin-top: 6.2%;
}
.taxigif{
    background-image: url('../Images/pexels-jake-heinemann-2399254.jpg');
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    box-sizing: border-box;
}
fieldset{
    background: rgba(7, 7, 7, 0.5);
    font-size: 20px;
    font-family: monospace;
    color: aliceblue;
    margin-left: 100px;
    margin-top: 70px;
   width: 650px;
   height: 550px;
   border:8px rgb(77, 77, 131);
   border-radius: 40px;
   display: inline-block;
}

.section1 label {
    width: 200px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 0;
}

.section1 label,.section1 input,.section1 select {
    display: inline-block;
}
.section1 input{
    border-radius: 20px;
    width: 400px;
    height: 30px;
}
.section1 label{
    padding: 7px;
}
legend{
    text-align: center;
    font-family: cursive;
    font-size: 40px;
    padding: 10;
    border: 2px solid green;
    color:red;
    background-color:black;
    opacity: 0.5;
}
legend:hover{
    opacity: 1;
}
.section1 .submitbut {
    margin-left: 20%;
    font-size: 24px;
    text-align: center;
    background-color: #04AA6D;
    border-radius: 10px;
    font-family: cursive;
    height: 40px;
   
  }
  
.safeheader{
    background-color: green;
    opacity: 0.5;
}
.safeheader h1{
padding: 20px;
color: black;
font-family: cursive;
text-align: center;
}
.safeheader:hover{
    opacity: 1;
}
.ins{
    background-image: url('../Images/Manshpping.jpeg');
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    float: left;
    
}
.ins1 p{
    font-family: monospace;
    font-size: 20px;
    color: aliceblue;
    width: 30%;
    margin-left: 100px;
    background-color:rgba(0, 0, 0,0.5);
    padding: 10px;
    
}
.ins1 p:hover{
  color:black;
    margin-right: 150px;
    background-color:rgba(255, 255, 224,0.6);
    font-weight: bold;
}
.ins2 p{
    font-family: monospace;
    font-size: 20px;
    color: aliceblue;
    width: 30%;
    margin-left: 800px;
    background-color:rgba(0, 0, 0,0.5);
    padding: 10px;
}
.ins2 p:hover{  
    color: black;
    margin-left: 850px;
    background-color:rgba(133, 80, 105, 0.5);
    font-weight: bold;

}
.ins3 p{
    font-family: monospace;
    font-size: 20px;
    color: aliceblue;
    width: 30%;
    margin-left: 100px;
    background-color:rgba(0, 0, 0,0.5);
    padding: 10px;
   
}
.ins3 p:hover{
    font-weight: bold;
    color: black;
    margin-left: 150px;
    background-color:rgba(133, 80, 105, 0.5);   
}
.contact
{
    width: 100%;
    background-color:white;
    color:black;
    float:right;
    letter-spacing: .1em;
    padding: 2%;
    text-align: justify;
    background-image: url('../Images/bg1.jpg');
}

.contact_cont1
{
    width:100%;
    padding-top:5%;
    padding-right:100%;
   
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.contact_banner{
    
    text-align: center;
    background-color: chartreuse;
}
.contact_banner h1{
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    margin-top: 40;
    font-family: cursive;
    
}

.bg-img {
    margin-top: -20;
    background-image: url('../Images/bg1.jpg');
  height: 100%;
    background-size: 100% 100%;
  }
  .bg-img h1{
      text-align: center;
      font-family: cursive;
    padding-top: 20px;
    text-align: center;
      
  }
  .container1 input,.container1 label{
      font-weight: bolder;
      font-size: 20;
      color:yellow;
      font-family: cursive;
      display: block;
      text-align: center;
      margin: 0 auto;
  }
  .container1 input{
    height: 30;
    margin: 0 auto;
    width: 400;
    border-radius: 10px;
    margin-top: 15;
  }

.btnsubmit{
    width: 400;
    height: 40;
    text-align: center;
    margin-left: 38%;
    background-color: green;
    border: 2px solid blue;
    overflow: hidden;
    border-collapse: separate;
}
footer{
    float: left;
    background-color: black;
    height: 300px;
    width: 100%;
}
footer div p{
    margin-top:40px;
    color: white;
    font-family: monospace;
    float:left;
    font-size:25px;

}
#sociallogo{
    margin-left: 40%;
    float: left;
    height: 50%; 
     
}
.logo img{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    margin-top: 25px;
    float: left;
}
.logofont{
    margin-top: 30px;  
    color: black;
    font-family: monospace;
}
.logofont span{
    color: orange;
}
.regmark p:first-child{
    margin-left: 900px;
    font-size: 10px;
}
.regmark p{
    margin-left: 50px;
    font-size: 10px;
}
#copyright p{
    margin-top: 10px;
    font-size: 10px;
    margin-left: 80%;
}
.loginbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50;
  }
  #msgbox{
      height: 200;
  }
  .labels{
      margin-top: 20;
  }